
.container{
    width: 100%;
    height: 100%;
}

.content{
    width: 100%;
    height: 90%;
    margin-inline: auto;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 0.2rem;
}

.option{
    display: inline-block;
    border: 1px solid gray;
    cursor: pointer;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    border-radius: 0.2rem;
    transition: all 0.3s linear;
}

.types{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid lightGray;
    padding: 1rem;
    gap: 1rem;
}

.typesList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.size{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid lightGray;
    padding: 1rem;
    gap: 1rem;
}

.sizeList{
    display: flex;
    flex-wrap: wrap;
    justify-content: wrap;
    gap: 1rem;
}

.color{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid lightGray;
    padding: 1rem;
    gap: 1rem;
}

.colorList{
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.colorItem{
    width: 30px;
    height: 30px;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.1rem;
    transition: all 0.3s linear;
    cursor: pointer;
}

.colorItem:hover{
    border-color: black;
}

.colorItem span{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.red{
    background-color: red;
}
.green{
    background-color: green;
}   
.blue{
    background-color: blue;
}
.black{
    background-color: black;
}
.yellow{
    background-color: yellow;
}
.white{
    background-color: white;
}
.purple{
    background-color: purple;
}
.gray{
    background-color: gray;
}
.lightGray{
    background-color: lightGray;
}
.selected{
    background-color: white;
    color: #010015;
}

.selCol{
    border-color: black;
}